<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      ISBN Reader 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/barcode.jpeg" />
    <ion-card-content>
      <ion-text> Scanner le code barre de votre livre pour récuperer les informations </ion-text>

      <ion-button color="success" expand="full" (click)="scan()">Scan code</ion-button>
      <!--ion-button color="success" expand="full"> Scan code </ion-button -->
    </ion-card-content>
  </ion-card>
  
  <ion-item *ngIf="data">
    <ion-label position="stacked">Scan Information</ion-label>
    <ion-input [value]="data.text" readonly></ion-input>
  </ion-item>
  
  <ion-card *ngIf="book">
    <img src="assets/barcode.jpeg" />
    <ion-card-content>
      <ion-card-header>
        <ion-card-subtitle> {{book.title}} </ion-card-subtitle>
        <ion-card-title>
          {{book.isbn13}} - {{book.date_published}} - {{book.publisher}}
        </ion-card-title>
      </ion-card-header>

      <ion-text> 
        {{book.title_long}} : <br/> 
        <ul *ngIf="book.authors">
          <li *ngFor="let author of book.authors">{{ author }}</li>
        </ul>    
      </ion-text>

      <!-- ion-button color="success" expand="full" (click)="scan()">Scan code</ion-button -->
      <ion-button color="success" expand="full"> Plus de détails </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>